@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding: 20px;
}
.container{
  max-width: 800px;
  min-height: 400px;
  border: 1px solid #000;
  margin-inline: auto;
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  gap: 1rem;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
}

.box{
  min-width: 100px;
  min-height: 100px;
  background-color: #000;
  color:#fff;
  font-size: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}