@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 2rem;
  font-family: 'Roboto',sans-serif;
}
img{
  height: 200px;
  width: 200px;
  border: 5px solid red;
}

.box2{
  /* display: none; */
  /* visibility: hidden; */
}

.opposite{
  display: inline-block;
  background-color: #333;
  color: whitesmoke;
  margin: 20px;
  padding: 4rem;
}