@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}
.outer-container{
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  /* position: relative; */
}

.inner-container{
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
  /* position: relative; */
}
.box{
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

/* Absolute position need relative parent : default : browser */
.absolute{
  background-color: #00f;
  position:absolute;
  top: 0;
  left: 380px;
}

/* need immediate parent */
.relative{
  background-color: #f00;
  position: relative;
  top: 500px;
  left: 300px;
}

.fixed{
  background-color: rgb(10, 95, 10);
  position: fixed;
  top: 400px;
  left: 20px;
}
.sticky{
  background-color: #000;
  position: sticky;
  top: 300px;
}